# Logs
*.log

# Package artifacts
lib

# Package archive used by e2e tests
fork-ts-checker-webpack-plugin.tgz

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules

# Editor directories and files
.idea

# Mac OS
.DS_Store
